image: docker:19

stages:
  - test
  - release
  - deploy

#test:
#  stage: test
#  image: node:10-alpine
#  before_script:
#    - npm install --progress=false
#  script:
#    - npm run test

release:
  stage: release
  only:
    - "master"
  before_script:
    - docker info
    - ./deploy/docker_login.sh
  script:
    - ./deploy/build_image.sh
  after_script:
    - ./deploy/docker_logout.sh

deploy:
   stage: deploy
   image: gitlab/dind:latest
   services:
     - docker:dind
   only:
     - "master"
   before_script:
     - apt-get update -y && apt-get install sshpass
   script:
     - ./deploy/pull_and_restart.sh
